<%- include('../page/header')%>
    <%- include('../page/aside')%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Sửa tác giả
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form action="/update-Account" method="POST" enctype="multipart/form-data">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <div>
                                                <input type="hidden" name="id" value="<%= data.id %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Tên</label>
                                                <input type="text" name="ten" class="form-control"
                                                    aria-describedby="helpId" value="<%= data.ten%>">
                                            </div>
                                            <div>
                                                <input type="hidden" name="hinh" value="<%= data.hinh %>">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Hình</label>
                                                <input type="file" name="hinh" onchange="showImage(this)"
                                                    class="form-control" aria-describedby="helpId">
                                            </div>
                                            <div class="form-group">
                                                <img id="change-image" width="300" height="300"
                                                    src="/img/<%= data.hinh %>" alt="">
                                            </div>
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Lưu
                                                Lại</button>
                                            <a name="" id="" class="btn btn-default float-right" href="/home"><i
                                                    class="fa fa-arrow-left" aria-hidden="true"></i> Quay Lại</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer-->

                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <%- include('../page/footer')%>
            <script>
                function showImage(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#change-image').attr('src', e.target.result).height(300).width(300)
                        };
                        reader.readAsDataURL(input.files[0])
                    }
                }
            </script>

            </body>

            </html>
            <!-- /.content-wrapper -->