<%- include('../page/header')%>
    <script>
        const socket = io();
        socket.on('connect', () => {
            console.log('Connected to server');
        });

        const data = JSON.parse('<%- JSON.stringify(data) %>');
        data.forEach(item => {
            socket.on(`nearDueDate_${item.id}`, (data) => {
                console.log('Received nearDueDate event:', data);
                const rentalElement = document.querySelector(`tr[data-rental-id="${data.rentalId}"]`);
                if (rentalElement) {
                    const alertMessageElement = rentalElement.querySelector('.alert-message .message-content');
                    if (alertMessageElement) {
                        alertMessageElement.innerText = data.messageRentail;
                        console.log("Updated alert message:", alertMessageElement);
                    }
                }
            });
        });
    </script>


    <%- include('../page/aside')%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Danh sách phiếu thuê
                </h1>

            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="row" id="dataList">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <input type="text" name="name" value="<%= name%>" id="" class="form-control"
                                            placeholder="Nhập mã phiếu thuê" aria-describedby="helpId">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"
                                            aria-hidden="true"></i></button>
                                </form>
                                <hr>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-truncate">STT</th>
                                            <th class="text-truncate">Mã phiếu</th>
                                            <th class="text-truncate">Sách</th>
                                            <th class="text-truncate">Người Thuê</th>
                                            <th class="text-truncate">Người Cho Thuê</th>
                                            <th class="text-truncate">Ngày thuê</th>
                                            <th class="text-truncate">Trạng thái</th>
                                            <th class="text-truncate text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <%if(errcode==1) {%>
                                        <tbody>
                                            <div>
                                                <td scope="row">
                                                    <%=message %>
                                                </td>
                                            </div>
                                        </tbody>
                                        <% }else { %>
                                            <tbody>
                                                <% for(let i=0; i < data.length; i++) { %>
                                                    <tr data-rental-id="<%= data[i].id %>">
                                                        <td scope="row">
                                                            <%= i+1 %>
                                                        </td>
                                                        <td scope="row">
                                                            <%= data[i].maphieu %>
                                                        </td>
                                                        <td scope="row">
                                                            <% const books=data[i].tensach.split(','); %>
                                                                <% for (let j=0; j < books.length; j++) { %>
                                                                    <div class="custom-column">
                                                                        <%=books[j] %>
                                                                    </div>
                                                                    <% } %>
                                                        </td>
                                                        <td scope="row">
                                                            <%= data[i].nguoithue %>
                                                        </td>
                                                        <td scope="row">
                                                            <%= data[i].nguoidang %>
                                                        </td>
                                                        <td scope="row">
                                                            <%= data[i].ngaythue %>
                                                        </td>
                                                        <td scope="row">
                                                            <%if(data[i].trangthai===0){ %>
                                                                chờ xác nhận
                                                                <% }else if(data[i].trangthai===1){%>
                                                                    chờ nhận
                                                                    <% }else if(data[i].trangthai===2){%>
                                                                        đang thuê
                                                                        <% }else if(data[i].trangthai===3){%>
                                                                            chờ trả
                                                                            <% }else if(data[i].trangthai===4){%>
                                                                                hoàn tất
                                                                                <% } else if(data[i].trangthai===5){%>
                                                                                    bị hủy
                                                                                    <% } %>
                                                        </td>
                                                        <td class="text-right">
                                                            <a class="btn btn-sm btn-success d-inline-block align-middle"
                                                                href="/detailRentals?id=<%= data[i].id %>">Chi tiết</a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                            <% } %>
                                </table>
                                <hr>
                                <div>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <%if(name) {%>
                                                <li class="page-item">
                                                    <a class="page-link"
                                                        href="/rental?page=<%= page > 1 ? page - 1 : 1%>&name=<%= name%>"
                                                        aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <%for(let i=1; i<=totalPage; i++){ %>
                                                    <% if (i===page) { %>
                                                        <li class="page-item active">
                                                            <span class="page-link">
                                                                <%= i %>
                                                            </span>
                                                        </li>
                                                        <% } else if (i===1 || i===totalPage || (i>= page -
                                                            2 && i <= page + 2)) { %>
                                                                <li class="page-item">
                                                                    <a class="page-link"
                                                                        href="/rental?page=<%= i %>&name=<%= name%>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } else if (i===page - 3 || i===page + 3) { %>
                                                                    <li class="page-item disabled">
                                                                        <span class="page-link">...</span>
                                                                    </li>
                                                                    <% } %>
                                                                        <%} %>
                                                                            <li class="page-item">
                                                                                <a class="page-link"
                                                                                    href="/rental?page=<%= page < totalPage ? page + 1 : totalPage%>&name=<%= name%>"
                                                                                    aria-label="Next">
                                                                                    <span
                                                                                        aria-hidden="true">&raquo;</span>
                                                                                    <span class="sr-only">Next</span>
                                                                                </a>
                                                                            </li>
                                                                            <%}else {%>
                                                                                <li class="page-item">
                                                                                    <a class="page-link"
                                                                                        href="/rental?page=<%= page > 1 ? page - 1 : 1%>"
                                                                                        aria-label="Previous">
                                                                                        <span
                                                                                            aria-hidden="true">&laquo;</span>
                                                                                        <span
                                                                                            class="sr-only">Previous</span>
                                                                                    </a>
                                                                                </li>
                                                                                <% for (let i=1; i <=totalPage; i++) {
                                                                                    %>
                                                                                    <% if (i===page) { %>
                                                                                        <li class="page-item active">
                                                                                            <span class="page-link">
                                                                                                <%= i %>
                                                                                            </span>
                                                                                        </li>
                                                                                        <% } else if (i===1 ||
                                                                                            i===totalPage || (i>= page
                                                                                            -2 && i <= page + 2)) { %>
                                                                                                <li class="page-item">
                                                                                                    <a class="page-link"
                                                                                                        href="/rental?page=<%= i %>">
                                                                                                        <%= i %>
                                                                                                    </a>
                                                                                                </li>
                                                                                                <% } else if (i===page
                                                                                                    -3 || i===page + 3)
                                                                                                    { %>
                                                                                                    <li
                                                                                                        class="page-item disabled">
                                                                                                        <span
                                                                                                            class="page-link">...</span>
                                                                                                    </li>
                                                                                                    <% } %>
                                                                                                        <% } %>

                                                                                                            <li
                                                                                                                class="page-item">
                                                                                                                <a class="page-link"
                                                                                                                    href="/rental?page=<%= page < totalPage ? page + 1 : totalPage%>"
                                                                                                                    aria-label="Next">
                                                                                                                    <span
                                                                                                                        aria-hidden="true">&raquo;</span>
                                                                                                                    <span
                                                                                                                        class="sr-only">Next</span>
                                                                                                                </a>
                                                                                                            </li>
                                                                                                            <% } %>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <%- include('../page/footer')%>


            </body>

            </html>
            <!-- /.content-wrapper -->