<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
    data-assets-path="" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Thuê Sách</title>

    <meta name="description" content="" />
    <%- include('../index.ejs') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".btnDeleteCategory").click(function () {
                    const id = $(this).attr('data-id');
                    if (confirm(`Bạn có muốn xóa thể loại có id= ${id}`)) {
                        return true

                    } else {
                        return false
                    }
                })
            })
        </script>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <%- include('../page/nav.ejs') %>
                <!-- / Menu -->

                <!-- Layout container -->
                <div class="layout-page">
                    <!-- Navbar -->
                    <!-- / Navbar -->
                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <!-- Content -->
                        <div class="container-xxl flex-grow-1 container-p-y">
                            <% let message=[]%>
                                <% if(errFoByID.length>0){ %>
                                    <div class="alert alert-success">
                                        <%= errFoByID %>
                                    </div>
                                    <%}%>

                                        <% let arrMsg=[] %>
                                            <% msgPutCatetory.forEach(function(msg){ %>
                                                <% arrMsg.push(msg) %>
                                                    <% })%>
                                                        <% let arrErr=[] %>
                                                            <% errPutCatetory.forEach(function(err){ %>
                                                                <% arrErr.push(err) %>
                                                                    <% })%>

                                                                        <!-- Button trigger modal -->

                                                                        <h4 class="py-3 mb-4"><span
                                                                                class="text-muted fw-light">Danh sách
                                                                                thể
                                                                                loại</span>
                                                                        </h4>
                                                                        <div class="py-3 mb-4">
                                                                            <div class="col-sm-10">
                                                                                <a href="/add-category"
                                                                                    class="btn btn-primary">Thêm thể
                                                                                    loại</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row gy-4">
                                                                            <!-- Data Tables -->
                                                                            <div class="col-12">
                                                                                <div class="card">
                                                                                    <div>
                                                                                        <form action="">
                                                                                            <input value="<%= name %>"
                                                                                                type="text"
                                                                                                name="name" />
                                                                                            <button
                                                                                                type="submit">tìm</button>
                                                                                        </form>
                                                                                    </div>
                                                                                    <div class="table-responsive">
                                                                                        <table class="table">
                                                                                            <thead class="table-light">
                                                                                                <tr>
                                                                                                    <th
                                                                                                        class="text-truncate">
                                                                                                        STT</th>
                                                                                                    <th
                                                                                                        class="text-truncate">
                                                                                                        Tên</th>
                                                                                                    <th
                                                                                                        class="text-truncate">
                                                                                                        Trạng Thái
                                                                                                    </th>
                                                                                                    <th
                                                                                                        class="text-truncate">
                                                                                                        Action</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <%if(errcode==1) {%>
                                                                                                <tbody>
                                                                                                    <div>
                                                                                                        <td
                                                                                                            class="text-truncate">
                                                                                                            <%=message
                                                                                                                %>
                                                                                                        </td>
                                                                                                    </div>
                                                                                                    <% }else { %>
                                                                                                </tbody>
                                                                                                <tbody>

                                                                                                    <% for(let i=0; i <
                                                                                                        data.length;
                                                                                                        i++) { %>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="text-truncate">
                                                                                                                <%= i+1
                                                                                                                    %>
                                                                                                            </td>
                                                                                                            <td
                                                                                                                class="text-truncate">
                                                                                                                <%= data[i].ten
                                                                                                                    %>
                                                                                                            </td>
                                                                                                            <td
                                                                                                                class="text-truncate">
                                                                                                                <%= data[i].trangthai
                                                                                                                    %>
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                <a class="btnDeleteCategory"
                                                                                                                    data-id="<%= data[i].id %>"
                                                                                                                    href="/delete-category/<%= data[i].id %>">
                                                                                                                    <span
                                                                                                                        class="badge bg-label-warning rounded-pill">Xóa</span></a>
                                                                                                                <a
                                                                                                                    href="/get-catetoryFoByID?id=<%= data[i].id %>">
                                                                                                                    <span
                                                                                                                        class="badge bg-label-warning rounded-pill">
                                                                                                                        Sửa</span></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <% } %>

                                                                                                </tbody>
                                                                                                <% } %>
                                                                                        </table>
                                                                                        <div class="col-sm-12 col-md-6">
                                                                                            <div
                                                                                                class="dataTables_paginate paging_simple_numbers">
                                                                                                <ul class="pagination">
                                                                                                    <%if(name) {%>
                                                                                                        <li>
                                                                                                            <a class="page-link"
                                                                                                                href="/category?page=<%= page > 1 ? page - 1 : 1%>&name=<%= name%>">&laquo;</a>
                                                                                                        </li>
                                                                                                        <%for(i=1;
                                                                                                            i<=totalPage;
                                                                                                            i++){ %>
                                                                                                            <li
                                                                                                                class="paginate_button page-item ">
                                                                                                                <a class="page-link"
                                                                                                                    href="?page=<%=i %>&name=<%= name%>">
                                                                                                                    <%= i
                                                                                                                        %>
                                                                                                                </a>
                                                                                                            </li>
                                                                                                            <%} %>
                                                                                                                <li><a class="page-link"
                                                                                                                        href="/category?page=<%= page < totalPage ? page + 1 : totalPage%>&name=<%= name%>">&raquo;</a>
                                                                                                                </li>
                                                                                                                <%}else{%>
                                                                                                                    <li>
                                                                                                                        <a class="page-link"
                                                                                                                            href="/category?page=<%= page > 1 ? page - 1 : 1  %>">&laquo;</a>
                                                                                                                    </li>
                                                                                                                    <%for(i=1;
                                                                                                                        i<=totalPage;
                                                                                                                        i++){
                                                                                                                        %>
                                                                                                                        <li
                                                                                                                            class="paginate_button page-item ">
                                                                                                                            <a class="page-link"
                                                                                                                                href="?page=<%=i %>">
                                                                                                                                <%= i
                                                                                                                                    %>
                                                                                                                            </a>
                                                                                                                        </li>
                                                                                                                        <%}
                                                                                                                            %>
                                                                                                                            <li><a class="page-link"
                                                                                                                                    href="/category?page=<%= page < totalPage ? page + 1 : totalPage  %>">&raquo;</a>
                                                                                                                            </li>
                                                                                                                            <%}
                                                                                                                                %>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <!--/ Data Tables -->
                                                                        </div>
                        </div>
                        <!-- / Content -->

                        <!-- Footer -->
                        <%- include('../page/footer.ejs') %>
                            <!-- / Footer -->

                            <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->


    <%- include('../page/layout.ejs') %>
        <script>
            $(document).ready(function () {
                let toasName = '<%= arrMsg%>';
                let err = '<%= arrErr%>';
                if (toasName != '') {
                    toastr.success(toasName, { timeOut: 5000 })
                }
                if (err != '') {
                    toastr.error(err, { timeOut: 5000 })
                }
            })
        </script>
</body>

</html>