<%- include('../page/header')%>
    <%- include('../page/aside')%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Thêm thể loại
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <form action="/post-category" method="POST">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="">Tên</label>
                                        <input type="text" name="ten" class="form-control" placeholder="Tên Thể loại"
                                            aria-describedby="helpId">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Lưu
                                            Lại</button>
                                        <a name="" id="" class="btn btn-default float-right" href="/category"><i
                                                class="fa fa-arrow-left" aria-hidden="true"></i>
                                            Quay Lại</a>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer-->
        </div>
        <!-- /.box -->
        </section>
        <!-- /.content -->
        </div>
        <% let arrMsg=[] %>
            <% msgPostCatetory.forEach(function(msg){ %>
                <% arrMsg.push(msg) %>
                    <% })%>
                        <% let arrErr=[] %>
                            <% errPostCatetory.forEach(function(err){ %>
                                <% arrErr.push(err) %>
                                    <% })%>
                                        <%- include('../page/footer')%>
                                            <script>
                                                $(document).ready(function () {
                                                    let msg = '<%= arrMsg%>';
                                                    let err = '<%= arrErr%>';
                                                    if (msg != '') {
                                                        toastr.success(msg, { timeOut: 5000 })
                                                    }
                                                    if (err != '') {
                                                        toastr.error(err, { timeOut: 5000 })
                                                    }
                                                })
                                            </script>
                                            </body>

                                            </html>
                                            <!-- /.content-wrapper -->