<%- include('../page/header')%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function checkImageExists(imageUrl, callback) {
            var img = new Image();
            img.onload = function () {
                callback(true);
            };
            img.onerror = function () {
                callback(false);
            };
            img.src = imageUrl;
        }
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                const id = $(this).attr('data-id');
                if (confirm(`Bạn có muốn xóa thể loại có id= ${id}`)) {
                    return true

                } else {
                    return false
                }
            })
        })
    </script>
    <%- include('../page/aside')%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Danh sách tài khoản
                </h1>

            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <form class="form-inline">
                                        <div class="col-12">
                                            <input value="<%= name %>" type="text" name="name" id=""
                                                class="form-control" placeholder="Nhập tên tài khoản"
                                                aria-describedby="helpId">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <hr>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-truncate">STT</th>
                                            <th class="text-truncate">Hình</th>
                                            <th class="text-truncate">Tên</th>
                                            <th class="text-truncate">Loại</th>
                                        </tr>
                                    </thead>
                                    <%if(errcode==1) {%>
                                        <tbody>
                                            <div>
                                                <td scope="row">
                                                    <%=message %>
                                                </td>
                                            </div>
                                        </tbody>
                                        <% }else { %>
                                            <tbody>
                                                <% data.map(function(data, index){ %>
                                                    <tr>
                                                        <td scope="row">
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td scope="row">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-sm me-3">
                                                                    <% var imageUrl="/img/" + (data.hinh); %>
                                                                        <div class="avatar avatar-sm me-3">
                                                                            <img id="authorImage_<%= index %>"
                                                                                src="<%= imageUrl %>"
                                                                                class="img-list rounded-circle" />
                                                                        </div>
                                                                        <script>
                                                                            checkImageExists('<%= imageUrl %>', function (exists) {
                                                                                var img = document.getElementById('authorImage_<%= index %>');
                                                                                if (!exists) {
                                                                                    img.src = "/img/image/avatar.png";

                                                                                }
                                                                            });
                                                                        </script>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td scope="row">
                                                            <%= data.ten %>
                                                        </td>

                                                        <td scope="row">
                                                            <%= data.loai===0 ? "Admin" : "User" %>
                                                        </td>
                                                        <td class="text-right">
                                                            <a class="btn btn-sm btn-success"
                                                                href="/detailUser?id=<%= data.id %>">Chi
                                                                tiết</a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                            <% } %>
                                </table>
                                <hr>
                                <div>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <%if(name) {%>
                                                <li class="page-item">
                                                    <a class="page-link"
                                                        href="/user?page=<%= page > 1 ? page - 1 : 1%>&name=<%= name%>"
                                                        aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <%for(let i=1; i<=totalPage; i++){ %>
                                                    <% if (i===page) { %>
                                                        <li class="page-item active">
                                                            <span class="page-link">
                                                                <%= i %>
                                                            </span>
                                                        </li>
                                                        <% } else if (i===1 || i===totalPage || (i>= page -
                                                            2 && i <= page + 2)) { %>
                                                                <li class="page-item">
                                                                    <a class="page-link"
                                                                        href="/user?page=<%= i %>&name=<%= name%>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } else if (i===page - 3 || i===page + 3) { %>
                                                                    <li class="page-item disabled">
                                                                        <span class="page-link">...</span>
                                                                    </li>
                                                                    <% } %>
                                                                        <%} %>
                                                                            <li class="page-item">
                                                                                <a class="page-link"
                                                                                    href="/user?page=<%= page < totalPage ? page + 1 : totalPage%>&name=<%= name%>"
                                                                                    aria-label="Next">
                                                                                    <span
                                                                                        aria-hidden="true">&raquo;</span>
                                                                                    <span class="sr-only">Next</span>
                                                                                </a>
                                                                            </li>
                                                                            <%}else {%>
                                                                                <li class="page-item">
                                                                                    <a class="page-link"
                                                                                        href="/user?page=<%= page > 1 ? page - 1 : 1%>"
                                                                                        aria-label="Previous">
                                                                                        <span
                                                                                            aria-hidden="true">&laquo;</span>
                                                                                        <span
                                                                                            class="sr-only">Previous</span>
                                                                                    </a>
                                                                                </li>
                                                                                <% for (let i=1; i <=totalPage; i++) {
                                                                                    %>
                                                                                    <% if (i===page) { %>
                                                                                        <li class="page-item active">
                                                                                            <span class="page-link">
                                                                                                <%= i %>
                                                                                            </span>
                                                                                        </li>
                                                                                        <% } else if (i===1 ||
                                                                                            i===totalPage || (i>= page -
                                                                                            2 && i <= page + 2)) { %>
                                                                                                <li class="page-item">
                                                                                                    <a class="page-link"
                                                                                                        href="/user?page=<%= i %>">
                                                                                                        <%= i %>
                                                                                                    </a>
                                                                                                </li>
                                                                                                <% } else if (i===page -
                                                                                                    3 || i===page + 3) {
                                                                                                    %>
                                                                                                    <li
                                                                                                        class="page-item disabled">
                                                                                                        <span
                                                                                                            class="page-link">...</span>
                                                                                                    </li>
                                                                                                    <% } %>
                                                                                                        <% } %>

                                                                                                            <li
                                                                                                                class="page-item">
                                                                                                                <a class="page-link"
                                                                                                                    href="/user?page=<%= page < totalPage ? page + 1 : totalPage%>"
                                                                                                                    aria-label="Next">
                                                                                                                    <span
                                                                                                                        aria-hidden="true">&raquo;</span>
                                                                                                                    <span
                                                                                                                        class="sr-only">Next</span>
                                                                                                                </a>
                                                                                                            </li>
                                                                                                            <% } %>

                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- /.box-body -->

                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>

        <%- include('../page/footer')%>
            <!-- /.content-wrapper -->

            </body>

            </html>