<html>

<head>
    <title>Thuê Sách</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .container {
            margin-top: 20px;
        }

        .large-text {
            font-size: 20px;

        }

        .currency {
            font-size: 18px;

        }

        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            text-align: left;
        }

        .container .khung {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <p>Xin chào ! <%= data?.nguoithue %>
    </p>
    <p>Đơn hàng của bạn đã được xác nhận. Cảm ơn bạn đã thuê sách.</p>
    <p>Thông tin phiếu thuê:</p>
    <p>Mã Phiếu: <%= data?.maphieu %>
    </p>
    <p>Người cho thuê: <%= data?.nguoidang %>
    </p>
    <p>Ngày thuê: <%= data?.ngaythue %>
    </p>
    <p>Số điện thoại người cho thuê: <%= data?.sdtnguoidang %>
    </p>
    <p>Địa chỉ người cho thuê: <%= data?.diachinguoidang %>
    </p>
    <p>Người thuê: <%= data?.nguoithue %>
    </p>
    <p>Địa chỉ giao hàng: <%= data.diachinguoithue %>
    </p>
    </p>
    <div class="container">
        <table>
            <tr>
                <th>Hình</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Tiền cọc</th>
            </tr>
            <% for (let i=0; i < books?.length; i++) { %>
                <tr>
                    <td class="khung">
                        <img src="cid:<%= books[i]?.tensach.replace(/\s/g, '') %>" alt="Hình ảnh sách" width="100"
                            height="100">
                    </td>
                    <td>
                        <%= books[i]?.tensach %>
                    </td>
                    <td>
                        <%= formatCurrency(books[i]?.gia) %>
                    </td>
                    <td>
                        <%= formatCurrency(books[i]?.tiencoc) %>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>

    <p class="large-text">Tổng tiền: <span class="currency">
            <%= formatCurrency(data?.tongtien) %>
        </span></p>
    </p>
</body>

</html>